In [129]:
import pandas as pd 

batting_data = pd.read_csv('kaggle/Batting.csv')

batting_data['OBP'] = (batting_data['H'] + batting_data['BB'] + batting_data['HBP']) / (batting_data['AB'] + batting_data['BB'] + batting_data['HBP'] + batting_data['SF'])
batting_data['SLG'] = (batting_data['H'] - batting_data['2B'] - batting_data['3B'] - batting_data['HR'] + 2*batting_data['2B'] + 3*batting_data['3B'] + 4*batting_data['HR']) / batting_data['AB']
batting_data['OPS'] = batting_data['OBP'] + batting_data['SLG']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
            ...
101327         NaN
101328    0.801052
101329    0.816223
101330    0.530159
101331         NaN
Name: OPS, Length: 101332, dtype: float64

In [128]:
batting_kaggle = pd.read_csv('kaggle/Batting.csv', sep=',')
batting_id = batting_kaggle['playerID'].unique()

In [82]:
contracts = pd.read_csv('contracts.csv', sep=',')




# # Update the player_id field for that row
# contracts.loc[row.index, 'player_id'] = 'arod01'  # Replace 'arod01' with the actual player_id

# # Save the DataFrame back to the CSV file
# contracts.to_csv('contracts.csv', sep=',', index=False)
# print(contracts['player_id'])

In [83]:
contracts = pd.read_csv('contracts.csv', sep=',')
Batting_csv = pd.read_csv('kaggle/Batting.csv', sep=',')


def get_player_id(player_name):
    player_id_list = []
    name_parts = player_name.split()  # Split the name into parts
    # Handle names with different number of parts
    if len(name_parts) == 2:  # If the name has two parts
        first_name, last_name = name_parts
        suff = ''
    elif len(name_parts) == 3:  # If the name has three parts
        first_name, last_name, suff = name_parts
    else:
        print(f"Unexpected name format: {player_name}")

    if len(last_name) > 5:
        player_id = (last_name[0:5] + first_name[0:2]).lower() + str(0)
        for i in range(1, 5):
            player_hold = player_id + str(i)
            player_id_list.append(player_hold)
    else:
        player_id = (last_name + first_name[0:2]).lower() + str(0)
        for i in range(1, 10):
            player_hold = player_id + str(i)
            player_id_list.append(player_hold)

    return player_id_list

for player in contracts['player']:

    possible_player_ids = get_player_id(player)

    valid_ids = []
    for player_id in possible_player_ids:
        if player_id in batting_id:
            valid_ids.append(player_id)

    if len(valid_ids) == 0:
        print(f"Player {player} not found in batting data")

    if len(valid_ids) == 1:
       # Find the row where the player is Alex Rodriguez
        row = contracts[contracts['player'] == str(player)]

        # Update the player_id field for that row
        contracts.loc[row.index, 'player_id'] = valid_ids[0]  # Replace 'arod01' with the actual player_id

        # Save the DataFrame back to the CSV file
        contracts.to_csv('contracts.csv', sep=',', index=False)
      
    if len(valid_ids) > 1:
        for id in valid_ids:
            #print(player + " " + id)
            continue

In [108]:
contracts = pd.read_csv('contracts.csv', sep=',')
contracts = contracts.dropna()
contracts['year'] = contracts['year'].astype(int)
contracts

# for idx, row in contracts.iterrows():
#     data[]

              player  player_id            amount  length  year team pos
0     Alex Rodriguez  rodrial01  $275,000,000.00     10.0  2007  NYY   h
1        Derek Jeter  jeterde01  $189,000,000.00     10.0  2001  NYY   h
2      Manny Ramirez  ramirma02  $160,000,000.00      8.0  2000  BOS   h
3      Albert Pujols  pujolal01  $240,000,000.00     10.0  2011  LAA   h
4    Clayton Kershaw  kershcl01  $215,000,000.00      7.0  2014  LAD   p
5     Prince Fielder  fieldpr01  $214,000,000.00      9.0  2012  DET   h
6      Mark Teixeira  teixema01  $180,000,000.00      8.0  2008  NYY   h
8        David Price  priceda01  $217,000,000.00      7.0  2015  BOS   p
9          Joe Mauer  mauerjo01  $184,000,000.00      8.0  2010  MIN   h
10       Kevin Brown  brownke01  $105,000,000.00      7.0  1998  LAD   p
11     Robinson Cano   canoro01  $240,000,000.00     10.0  2013  SEA   h
12      Zack Greinke  greinza01  $206,500,000.00      6.0  2015  ARI   p
14      Max Scherzer  scherma01  $210,000,000.00      7.0  2015  WAS   p
15      Mike Hampton  hamptmi01  $121,000,000.00      8.0  2000  COL   p
16   Felix Hernandez  hernafe02  $175,000,000.00      7.0  2013  SEA   p
17   Alfonso Soriano  soriaal01  $136,000,000.00      8.0  2006  CHC   h
18     Jason Heyward  heywaja01  $184,000,000.00      8.0  2015  CHC   h
19       Mike Piazza  piazzmi01   $91,000,000.00      7.0  1998  NYM   h
20     Chipper Jones  jonesch06   $90,000,000.00      6.0  2000  ATL   h
21     Johan Santana  santajo01  $137,500,000.00      6.0  2008  NYM   p
22    Carlos Beltran  beltrca01  $119,000,000.00      7.0  2005  NYM   h
23    Ken Griffey Jr  griffke02  $116,500,000.00      9.0  2000  CIN   h
25   Adrian Gonzalez  gonzaad01  $154,000,000.00      7.0  2011  BOS   h
26        Barry Zito   zitoba01   $18,000,000.00      1.0  2013   SF   p
27       Barry Bonds  bondsba01   $90,000,000.00      5.0  2002   SF   h
28   Masahiro Tanaka  tanakma01  $155,000,000.00      7.0  2014  NYY   h
29       Chris Davis  davisch02  $161,000,000.00      7.0  2016  BAL   h
31   Jacoby Ellsbury  ellsbja01  $153,000,000.00      7.0  2013  NYY   h
32     Carl Crawford  crawfca02  $142,000,000.00      7.0  2010  BOS   h
33      Mike Mussina  mussimi01   $88,500,000.00      6.0  2000  NYY   p
34        Jon Lester  lestejo01  $155,000,000.00      6.0  2014  CHC   p
35         Jim Thome  thomeji01   $85,000,000.00      6.0  2002  PHI   h
36      Vernon Wells  wellsve01  $126,000,000.00      7.0  2006  TOR   h
38    Pedro Martinez  martipe02   $75,000,000.00      6.0  1997  BOS   p
39     Matt Holliday  hollima01  $120,000,000.00      7.0  2010  STL   h
40      David Wright  wrighda03  $138,000,000.00      8.0  2012  NYM   h
41         Cliff Lee    leecl02  $120,000,000.00      5.0  2010  PHI   p
42       Ryan Howard  howarry01  $125,000,000.00      5.0  2010  PHI   h
43       Eric Hosmer  hosmeer01   $39,000,000.00      3.0  2022  BOS   h
45      Jayson Werth  werthja01  $126,000,000.00      7.0  2010  WAS   h
46  Justin Verlander  verlaju01  $180,000,000.00      7.0  2013  DET   p
47       CC Sabathia  sabatcc01  $161,000,000.00      7.0  2008  NYY   p
48   Magglio Ordonez  ordonma01   $10,000,000.00      1.0  2010  DET   h
50       Greg Maddux  maddugr01   $57,500,000.00      5.0  1997  ATL   p

In [127]:
# Get 
mookie = data[data['playerID'] == 'bettsmo01']
mookie

Empty DataFrame
Columns: [playerID, yearID, stint, teamID, lgID, W, L, G, GS, CG, SHO, SV, IPouts, H, ER, HR, BB, SO, BAOpp, ERA, IBB, WP, HBP, BK, BFP, GF, R, SH, SF, GIDP]
Index: []

[0 rows x 30 columns]

In [4]:
batting_data['OBP'] = (batting_data['H'] + batting_data['BB'] + batting_data['HBP']) / (batting_data['AB'] + batting_data['BB'] + batting_data['HBP'] + batting_data['SF'])
batting_data['PA'] = batting_data['AB'] + batting_data['BB'] + batting_data['HBP'] + batting_data['SF']

In [5]:
import pandas as pd 

data = pd.read_csv('kaggle/Batting.csv')

data.head()

dat
data['oWAR'] = data['OBP'] * data['PA']
data['war']  = data['WAR'] + data['oWAR'] + data['dWAR']