In [4]:
# Import selenium 
from selenium import webdriver
import pandas as pd 
from bref_stats import *

urls = create_bref_urls()

100%|██████████| 15/15 [00:00<00:00, 319363.25it/s]

In [12]:
del urls['Manny Ramirez']
urls

{'Alex Rodriguez': 'https://www.baseball-reference.com/players/r/rodrial01.shtml',
 'Derek Jeter': 'https://www.baseball-reference.com/players/j/jeterde01.shtml',
 'Albert Pujols': 'https://www.baseball-reference.com/players/p/pujolal01.shtml',
 'Clayton Kershaw': 'https://www.baseball-reference.com/players/k/kershcl01.shtml',
 'Prince Fielder': 'https://www.baseball-reference.com/players/f/fieldpr01.shtml',
 'Mark Teixeira': 'https://www.baseball-reference.com/players/t/teixema01.shtml',
 'Dave Winfield': 'https://www.baseball-reference.com/players/w/winfida01.shtml',
 'David Price': 'https://www.baseball-reference.com/players/p/priceda01.shtml',
 'Joe Mauer': 'https://www.baseball-reference.com/players/m/mauerjo01.shtml',
 'Kevin Brown': 'https://www.baseball-reference.com/players/b/brownke01.shtml',
 'Rod Carew': 'https://www.baseball-reference.com/players/c/carewro01.shtml',
 'Ivan Rodriguez': 'https://www.baseball-reference.com/players/r/rodriiv01.shtml',
 'Ryan Braun': 'https://www.baseball-reference.com/players/b/braunry01.shtml'}

In [13]:
from tqdm import tqdm 

# Create a new instance of the Firefox driver

all_data = []
# Navigate to the application home page

for player in tqdm(urls): 
    url = urls[player]
    try: 
        driver = webdriver.Firefox()
        driver.get(url)

        element = driver.find_elements(by='xpath', value='//div[@id="div_batting_value"]')

        all_text = [x.text for x in element]

        one_big_str = '\n'.join(all_text)

        lines = one_big_str.split('\n')

        newlines = []
        for line in lines: 
            newlines.append(line.split(' '))

        data = pd.DataFrame(newlines[1:])
        data.columns = newlines[0]
        data['player'] = player

        all_data.append(data)
        
        driver.close()
    except:
        print(url)
        pass

 46%|████▌     | 6/13 [02:07<02:25, 20.73s/it]

https://www.baseball-reference.com/players/t/teixema01.shtml

 85%|████████▍ | 11/13 [02:57<00:21, 10.87s/it]

https://www.baseball-reference.com/players/c/carewro01.shtml

100%|██████████| 13/13 [03:07<00:00, 14.42s/it]

https://www.baseball-reference.com/players/b/braunry01.shtml

In [16]:
test = pd.concat(all_data)
test.to_csv('new_scraper_data.csv')

,Year,Age,Tm,Lg,G,PA,Rbat,Rbaser,Rdp,Rfield,...,RAR,WAR,waaWL%,162WL%,oWAR,dWAR,oRAR,Salary,Pos,Awards
0,1994,18,SEA,AL,17,59,-7,0,0,0,...,-3,-0.3,.474,.497,-0.3,0.1,-3,"$442,333",6,None
1,1995,19,SEA,AL,48,149,-7,-1,0,-4,...,-4,-0.4,.482,.495,0.0,-0.1,0,"$442,333",6/HD,None
2,1996,20,SEA,AL,146,677,58,3,-1,8,...,102,9.4,.548,.543,8.5,1.8,94,"$442,334",*6/H,"AS,MVP-2,SS"
3,1997,21,SEA,AL,141,638,24,8,0,-5,...,59,5.7,.524,.521,6.2,0.4,64,"$1,062,500",*6/D,AS
4,1998,22,SEA,AL,161,748,38,5,3,8,...,90,8.5,.537,.537,7.8,1.7,82,"$2,162,500",*6/D,"AS,MVP-9,SS"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,DET,(5,yrs),611,2523,6,0,-3,11,36,...,14.2,.508,.506,13.0,5.0,134,"$48,563,932",None,None,None
28,WSN,(2,yrs),155,558,-18,-5,-3,5,9,...,0.3,.492,.494,-0.2,1.4,0,"$6,000,000",None,None,None
29,NYY,(1,yr),33,101,-7,1,-1,-7,2,...,-0.8,.464,.493,-0.1,-0.5,-1,None,None,None,None
30,HOU,(1,yr),93,344,-13,0,-1,4,6,...,0.5,.495,.497,0.1,1.0,2,"$1,500,000",None,None,None
31,FLA,(1,yr),144,578,15,0,-1,6,9,...,4.5,.520,.517,3.9,1.4,40,"$10,000,000",None,None,None

In [3]:
data

NameError: name 'data' is not defined

In [8]:
url = "https://www.baseball-reference.com/players/j/jeterde01.shtml"

import requests

page = requests.get(url)

from bs4 import BeautifulSoup

soup = BeautifulSoup(page.content, 'html.parser')

relevant_div = soup.find('div', {'id': 'div_batting_advanced'})
table = relevant_div.find('table')
table

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
relevant_div